html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

:root {
	--charcoal: #264653ff;
	--persian-green: #2a9d8fff;
	--orange-yellow-crayola: #e9c46aff;
	--sandy-brown: #f4a261ff;
	--burnt-sienna: #e76f51ff;
}

/*Global Style*/

body {
	width: 100%;
	min-width: 320px;
	overflow-x: hidden;
	position: relative;
	font-family: "Andale Mono", AndaleMono, monospace;
	background: var(--charcoal);
	color: #fff;
}

a {
	text-decoration: none;
	color: inherit;
}

ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-size: inherit;
}

h3 {
	font-size: 1.5rem;
	letter-spacing: 0.2rem;
	text-transform: uppercase;
	color: var(--persian-green);
}

p {
	color: var(--orange-yellow-crayola);
}

.charcoal {
	background: var(--charcoal);
}

.persian-green {
	background: var(--persian-green);
}

.orange-yellow-crayola {
	background: var(--orange-yellow-crayola);
}

.sandy-brown {
	background: var(--sandy-brown);
}

.burnt-sienna {
	background: var(--burnt-sienna);
}

.box {
	display: block;
	width: 30px;
	height: 30px;
}

 h1.logo {
	font-size: 2rem;
	margin: 50px 0 10px 10px;

}

.palette ul {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-bottom: 50px;
}

.palette li {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px;
	border: 2px #fff;
	border-style: groove;
}

.code {
	width: 100%;
	max-width: 400px;
	padding: 1rem;
	border-bottom-right-radius: 30px;
	border-left: 10px solid var(--burnt-sienna); 
	font-weight: bold; 
	color: #000;
}

.container {
	width: 100%;
	max-width: 1240px;
	padding: 0 20px;
	margin: 0 auto;
}

.lesson-1 {
	margin-bottom: 20px;
}